{% extends 'base.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block body %}
<div class="col-8 offset-2">
    <h3 class="mt-5 text-center">Register Account</h3>
    <div class="mt-3 text-center">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
